<html>
<head>
	<title>Create Account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="gui/js/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

	<script>
        function myFunction()
        {
            alert("Test button is clicked.");
        }
	</script>
	{%load static %}

	<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <script type="text/javascript" src="{%static 'check_form.js' %}"></script>
	<style>
        body {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.8;
            }
    </style>
</head>
<body>
	<nav class="navbar navbar-light bg-faded" style="background-color: 17a2b8;">
  <a class="navbar-brand" style="color: fff" href="/bands/admin/">BuyNSell-Admin</a>
</nav>
	<!--<p>{{title}}
	<p>{{description}}
	<p>{{category}}
	<p>{{ad_subcat}}
	<p>{{ad_attribute}}
	<p>{{state}}
	<p>{{city}}
	<p>{{attr1}}
	<p>{{attr2}}
	<p>{{cover_image}}
	<p>{{item_photo1}}
	<p>{{item_photo2}}
	<p>{{item_photo3}}
	<p>{{length}} -->

	{% for attr in attributes %}
	<p>{{attr}}
	{% endfor %}
	{% for id in id %}
	<p>{{id}}
		{% endfor %}
	{% for attr in attri %}
	<p>{{attr}}
	{% endfor %}
</body>
</html>
